<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_shield_icon"
        android:label="Financial Authority Database"
        android:roundIcon="@drawable/app_shield_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancialAuthorityDatabase">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
